body {
    color: #000000;
}

.movies td {
    border: #e0e0e0 solid 1px;
    font-size: 18px;
    padding: 5px;
}

.order_asc::after {
    content: '↓';
    padding-left: 5px;
    font-size: 15px;
}

.order_desc::after {
    content: '↑';
    padding-left: 5px;
    font-size: 15px;
}

